body {
    padding: 10px;
    background:url(img/background1.jpg);
    background-attachment: fixed;
}

#title {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#div1 {
    padding: 10px;
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.siguiente {
    float: right;
    font-family: calibri;
    font-weight: 900;
}

.siguiente:after {
    content: "»";
}

.anterior {
    float: left;
    font-weight: 900;
    font-family: calibri;
}

.anterior:before {
    content: "«";
}

h1 {
    font-family: monospace;
}

p {
    font-family: sans-serif;
}

a:link {
    color: black;
}

a:visited:hover {
    color: #0093ff
}

a:visited {
    color: #2a2a2a;
}

a:hover {
    color: #0093ff;
}

a:active {
    color: gray;
}

img {
   display: block;
    margin: auto;
    width: 20%;
}

h3 {
    text-align: center;
    font-family: calibri;
}

.container {
    width: 800px;
    height: 750px;
    overflow: hidden;
    padding: 1px;
}
.container:hover {
    width: 800px;
    height: 750px;
    overflow: auto;
    padding: 1px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: monospace;
    font-size: 12px;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

