body {
    padding: 50px;
    margin: 02%;
    background: url(img/background1.jpg);
    background-attachment: fixed;
}

#title {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#div1 {
    padding: 10px;
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.siguiente {
    float: right;
    font-family: calibri;
    font-weight: 900;
}
.siguiente:after{
    content: "»";}
.anterior {
    float: left;
    font-weight: 900;
    font-family: calibri;
}
.anterior:before{content: "«";}
h1 {

    font-family: monospace;
}

p {
    font-family: sans-serif;
}

    a:link { color: black; }
    a:visited:hover{color:#0093ff}
    a:visited{color: #2a2a2a;}
    a:hover { color: green; }
    a:active { color: gray; }


img {
    height: 400px;
    margin-left: 281px;
}

h3 {
    text-align: center;
    font-family: calibri;
}
